{% extends 'pages/base.html' %}
{% load hitcount_tags %}
{% load crispy_forms_tags %}
{% load static %}
<!--{% load extras %}-->

{% block title %} | My Blog{% endblock title %}

{% block custom_css %}
<link rel="stylesheet" type="text/css" href="{% static "custom_style.css" %}">
{% endblock custom_css %}

{% block content %}

<main class="main-content">
    <div class="row py-5 px-2">
        <div class="col-md-11 mx-auto">
            <!-- Profile widget -->
            <div class="bg-white shadow rounded overflow-hidden py-5">
                <div class="section bg-gray">
                    <div class="container">
                        <!--            blog content-->
                        <div class="post-content row mt-5 ">
                            <div class="col-lg-8 mx-auto ">
                                <br>
                                <h2>{{ post.title }}</h2>

                                <p>Author:&nbsp;{{ post.author }}</p>

                                <p>Published on:&nbsp;{{ post.created_at|date }} |
                                    {{ post.created_at|timesince }}&nbsp;ago | {{ post.categories.all.0 }} |
                                    {% get_hit_count for post %}&nbsp;&nbsp;<i class="fas fa-eye" aria-hidden="true"></i>&nbsp;views</p>

                                {% if user.is_authenticated %}
                                {% if user.id == post.author.id %}
                                <a href="{% url 'update_blog_page' post.pk %}">
                                    <button type="button"
                                            class="btn btn-warning text-light">Edit this blog post
                                    </button>
                                </a>

                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">
                                    Delete this blog post
                                </button>
                                {% endif %}
                                {% endif %}

                                <!-- Modal delete -->
                                <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog"
                                     aria-labelledby="deleteModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="deleteModalLabel">Delete this blog post?
                                                </h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <form action="{% url 'delete_blog_page' pk=post.pk %}" method="POST"
                                                      enctype="multipart/form-data">
                                                    {% csrf_token %}
                                                    <p>
                                                        Are you sure you want to delete this
                                                        title:&nbsp;<strong>"{{ post.title }}"</strong>?
                                                    </p>

                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                                data-dismiss="modal">Close
                                                        </button>
                                                        <button type="submit" class="btn btn-danger">Delete</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br><br>
                                <!-- End of modal delete -->

                                {% if post.thumbnail %}
                                <div class="text-center mt-8">
                                    <img src="{{ post.thumbnail.url }}" style="max-width: 100%;" class="rounded-md">
                                </div>
                                {% else %}
                                <div class="text-center mt-8">
                                    <img src="{{ post.image_url }}" style="max-width: 100%;" class="rounded-md">
                                </div>
                                {% endif %}

                                <div class="post-content row mt-3">
                                    <div class="col-lg-8 mx-auto">
                                        <div class="2-80px">
                                            {{ post.content|safe }}
                                        </div>
                                    </div>
                                </div>

                                <div class="Tags gap-xy-2 text-center mt-6">
                                    {% for category in post.categories.all %}
                                    <a href="#" class="badge badge-info">{{ category }}</a>
                                    {% endfor %}
                                </div>

                                <br>
                                <!-- End of blog content -->
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Related blog post -->
                        <div class="section">
                            <div class="container">
                                <h2>Similar Blog Post</h2>
                                <div class="Tags gap-xy-2 text-left mt-6">
                                    {% for tag in post.tags.all %}
                                    <a href="#" class="badge badge-warning">#&nbsp;{{ tag }}</a>
                                    {% endfor %}
                                </div>
                                <br>
                                <div class="row">
                                    {% for post in similar_posts %}
                                    <div class="col-lg-4 col-md-6 col-sl-12 p-3 mb-5">
                                        <div class="border rounded px-4 rounded-sm">
                                            {% for category in post.categories.all %}
                                            <a href="#" class="badge badge-secondary text-uppercase mt-2">{{ category }}</a>
                                            {% endfor %}

                                            <blockquote class="blockquote">
                                                <h3 class="mb-0 py-2">{{ post.title }}</h3>
                                                <p class="mb-0"><small>{{post.content|safe|slice:":100"}}</small><b>&nbsp;[...]</b></p>
                                            </blockquote>

                                            <a href="{{ post.post_link }}" class="mb-0">Read More <i class="mdi mdi-cheveron-right"></i> </a>
                                            <div class="border-top p-2 mt-3 d-flex">


                                                <div class="form-group mb-0  ml-4 opacity-70 small-3">
                                                    <img src="{{ post.author.profile.avatar.url }}" alt="" style="max-width:50px;max-height:50px;" class="avatar rounded-pill img-fluid mr-3">&nbsp;<small><b>{{ post.author }}</b></small>
                                                    <small>{{ post.created_at|date }}</small>
                                                    <small> / {% get_hit_count for post %}&nbsp;<i class="fas fa-eye" aria-hidden="true"></i>&nbsp;views</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                                <!-- End of related blog post -->
                            </div>
                        </div>

                <!-- Display number of comments -->
                <div class="section">
                    <div class="container">
                        {% if post_comments == 0 %}
                        <h2>Comments(0)</h2>
                        {% else %}
                        <h2>Comments({{ post_comments_count }})</h2>
                        {% endif %}
                        <!-- End of display of number of comments -->
                        <div class="row">
                            <div class="col-lg-8 mx-auto">
                                <!-- Display comment -->
                                <div class="media-list">
                                    {% for comment in post_comments %}
                                    <div>
                                        <div class="media-body">
                                            <div class="small-1">
                                                <img class="avatar"
                                                     style="vertical-align: middle; width: 50px; height: 50px; border-radius: 50%;"
                                                     src="{{ comment.user.profile.avatar.url }}">
                                                <b>{{ comment.user }}</b>
                                                <time
                                                        class="ml-4 opacity-70 small-3">{{ comment.created_at.date }}
                                                </time>
                                            </div>
                                            <p>{{ comment.content|capfirst }}</p>
                                            <hr>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                                <!-- End display comment -->
                                <!-- Display comment form -->
                                {% if user.is_authenticated %}
                                <form method="POST" action="{% url 'post' slug=post.slug %}">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        {{ form }}
                                    </div>
                                    <button class="btn btn-primary btn-block mt-2"
                                            type="submit">Comment
                                    </button>
                                </form>
                                <!-- End display comment form -->
                                {% else %}
                                <header class="header text-center text-white mx-auto">
                                    <div class="container">
                                        <div class="row">
                                            <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark"
                                                 style="min-width: 100%;">
                                                <div class="col-md-8 mx-auto">
                                                    <h1 class="display-6 font-italic">Leave a comment...
                                                    </h1>
                                                    <p class="lead-2 opacity-90 mt-6">You may <a
                                                            href="{% url 'account_signup' %}"
                                                            class="text-decoration-none font-weight-bold">Signup</a>
                                                        or <a href="{% url 'account_login' %}"
                                                              class="text-decoration-none font-weight-bold">Signin</a>
                                                        to post a comment.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </header>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock content %}