{% include "pages/base.html" %}

{% block content %}
{% include 'blog/header-search-result.html' %}

<main class="main-content">
    <div class="section bg-gray">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-xl-9">
                    <!--                    home posts-->
                    <div class="row gap-y">
                        {% include 'blog/home_posts.html' %}
                    </div>
                    <!--                    pagination-->
                    <div class="d-flex justify-content-center">
                        <ul class="pagination">
                            {% if posts.has_previous %}
                            <li class="page-item"><a href="?search={{ query }}&page={{ posts.previous_page_number }}" class="page-link"><< Previews</a></li>
                            {% else %}
                            <li class="page-item disabled"><a href="#" class="page-link"><< Previews</a></li>
                            {% endif %}

                            {% if 3 in posts.paginator.page_range %}
                            {% if page|add:'-1' >= 1 %}
                            <li class="page-item"><a href="?search={{ query }}&page={{ page|add:'-1' }}" class="page-link"> {{ page|add:'-1' }} </a></li>
                            {% endif %}

                            <li class="page-item"><a href="?search={{ query }}&page={{ page }}" class="page-link"> {{ page }} </a></li>

                            {% if page|add:'1' in posts.paginator.page_range %}
                            <li class="page-item"><a href="?search={{ query }}&page={{ page|add:'1' }}" class="page-link"> {{ page|add:'1' }} </a></li>
                            {% endif %}

                            {% else %}
                            {% for number in posts.paginator.page_range %}
                            <li class="page-item"><a href="?search={{ query }}&page={{ number }}" class="page-link"> {{ number }} </a></li>
                            {% endfor %}
                            {% endif %}

                            {% if posts.has_next %}
                            <li class="page-item"><a href="?search={{ query }}&page={{ posts.next_page_number }}" class="page-link">Next >></a></li>
                            {% else %}
                            <li class="page-item disabled"><a href="#" class="page-link">Next >></a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
                <!--                side bar-->
                <div class="col-md-4 col-xl-3">
                    <div class="sidebar px-3 py-md-0">
                        {% include 'blog/search.html' %}
                    </div>
                    <!--                    categories-->
                    <hr>
                    {% include 'blog/categories.html' %}
                    <!--                    top blog-->
                    <hr>
                    {% include 'blog/top_posts.html' %}
                    <!--                    about-->
                    <hr>
                    {% include 'blog/about.html' %}
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock content %}